* {

}

#section {

}

#span {

}

#paragraph-info {

}

#checklist{

}

#author{

}

#share{

}

#header {

}

#checklist-bro {
  background-image: url("../assets/list-bg.png");
}

.checklist{

}

body {
width: 72%;
margin: 0 auto;
}

span {

}

h1 {

}

h2{

}

section{

}

time {

}

button {

}

div{
  text-align: left;

}

p {

}

li {

}

ul {

}

a {

}

footer {

}
